.a{
	text-align: center;
	color: white;
}
.footer_left{
	float: left;
}
.footer_right{
	float: right;
}
body{
	background: rgb(255, 204, 81);
	background-image: url("http://demandware.edgesuite.net/aapa_prd/on/demandware.static/Sites-burtsbees-Site/-/default/v1467468529913/images/BeeHive-BG.jpg");
}
.a{
	background: #443928;
	color: white;
	text-align: center;
}
.tb_cap{
	background-image: url("http://demandware.edgesuite.net/aapa_prd/on/demandware.static/Sites-burtsbees-Site/-/default/v1467468529913/images/interface/bg-nav.png");
	color: white;
	text-align: center;
}
.f{
	background: #c1b79d;
}
.g{
	background: gb(255, 204, 81);
	color: black;
}
.b{
	height: 120px;
	background-image: url("http://demandware.edgesuite.net/aapa_prd/on/demandware.static/Sites-burtsbees-Site/-/default/v1467468529913/images/BeeHive-BG.jpg");
	border: none;
}
.e{
	height-max: 550px;
	width-max: 970px;
}
.c{
	max-width: 780px;
}